Repository intel/torch-xpu-ops, pull requests merged in 2024-12, with the labels that each got.

#1127 Reuse the max op implemented by the reduction kernel to optimize the global max pooling
  src/ATen/native/xpu/sycl/DilatedMaxPool2d.cpp
  src/ATen/native/xpu/sycl/DilatedMaxPool2d.h
Labels: performance

#926 Add aten::_thnn_fused_gru_cell and _thnn_fused_lstm_cell
  src/ATen/native/xpu/RNN.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/RNNKernels.cpp
  src/ATen/native/xpu/sycl/RNNKernels.h
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op, high_priority

#1180 Add at::_safe_softmax op
  src/ATen/native/xpu/SoftMax.cpp
  src/ATen/native/xpu/sycl/SoftMaxKernels.cpp
  src/ATen/native/xpu/sycl/SoftMaxKernels.h
  test/regressions/test_safe_softmax.py
  yaml/native/native_functions.yaml
Labels: xpu-op
