Repository intel/torch-xpu-ops, pull requests merged in 2024-11, with the labels that each got.

#1031 Add aten::igamma and aten::igammac
  src/ATen/native/xpu/BinaryOps.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/IGammaKernel.cpp
  src/ATen/native/xpu/sycl/IGammaKernel.h
  src/ATen/native/xpu/sycl/MathExtensions.h
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1038 Add aten::special_scaled_modified_bessel_* and its variants
  src/ATen/native/xpu/Bessel.cpp
  src/ATen/native/xpu/BinaryOps.cpp
  src/ATen/native/xpu/UnaryOps.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/BesselJ0Kernel.cpp
  src/ATen/native/xpu/sycl/BesselJ1Kernel.cpp
  src/ATen/native/xpu/sycl/BesselY0Kernel.cpp
  src/ATen/native/xpu/sycl/BesselY1Kernel.cpp
  src/ATen/native/xpu/sycl/BinaryMiscOpsKernels.cpp
  src/ATen/native/xpu/sycl/BinaryMiscOpsKernels.h
  src/ATen/native/xpu/sycl/ScaledModifiedBesselK0Kernel.cpp
  src/ATen/native/xpu/sycl/ScaledModifiedBesselK0Kernel.h
  src/ATen/native/xpu/sycl/ScaledModifiedBesselK1Kernel.cpp
  src/ATen/native/xpu/sycl/ScaledModifiedBesselK1Kernel.h
  src/ATen/native/xpu/sycl/UnarySpecialOpsKernels.cpp
  src/ATen/native/xpu/sycl/UnarySpecialOpsKernels.h
  src/ATen/native/xpu/sycl/ZetaKernel.cpp
  src/ATen/native/xpu/sycl/ZetaKernel.h
  yaml/native/native_functions.yaml
Labels: xpu-op

#1039 Add aten::special_airy_ai.out
  src/ATen/native/xpu/AiryAi.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/AiryAiKernel.cpp
  src/ATen/native/xpu/sycl/AiryAiKernel.h
  src/ATen/native/xpu/sycl/MathExtensions.h
  yaml/native/native_functions.yaml
Labels: xpu-op

#1034 Add aten::foreach_sub and its variants
  src/ATen/native/xpu/AiryAi.cpp
  src/ATen/native/xpu/BinaryOps.cpp
  src/ATen/native/xpu/Embedding.cpp
  src/ATen/native/xpu/ForeachOpList.cpp
  src/ATen/native/xpu/ForeachOpScalar.cpp
  src/ATen/native/xpu/ForeachOpScalarList.cpp
  src/ATen/native/xpu/UpSampleTrilinear3d.cpp
  src/ATen/native/xpu/sycl/ChebyshevPolynomialTKernel.cpp
  src/ATen/native/xpu/sycl/ChebyshevPolynomialUKernel.cpp
  src/ATen/native/xpu/sycl/ChebyshevPolynomialVKernel.cpp
  src/ATen/native/xpu/sycl/ChebyshevPolynomialWKernel.cpp
  src/ATen/native/xpu/sycl/Distributions.cpp
  src/ATen/native/xpu/sycl/ForeachBinaryOpListKernels.cpp
  src/ATen/native/xpu/sycl/ForeachBinaryOpListKernels.h
  src/ATen/native/xpu/sycl/ForeachBinaryOpScalarKernels.cpp
  src/ATen/native/xpu/sycl/ForeachBinaryOpScalarKernels.h
  src/ATen/native/xpu/sycl/ForeachBinaryOpScalarListKernels.cpp
  src/ATen/native/xpu/sycl/ForeachBinaryOpScalarListKernels.h
  src/ATen/native/xpu/sycl/ForeachCopyKernels.cpp
  src/ATen/native/xpu/sycl/ForeachCopyKernels.h
  src/ATen/native/xpu/sycl/FunctionOfAMatrixUtilsKernels.cpp
  src/ATen/native/xpu/sycl/ModifiedBesselI0Kernel.cpp
  src/ATen/native/xpu/sycl/ModifiedBesselI1Kernel.cpp
  src/ATen/native/xpu/sycl/ModifiedBesselK0Kernel.cpp
  src/ATen/native/xpu/sycl/ModifiedBesselK1Kernel.cpp
  src/ATen/native/xpu/sycl/SphericalBesselJ0Kernel.cpp
  src/ATen/native/xpu/sycl/SummaryOpsKernels.cpp
  src/ATen/native/xpu/sycl/UpSampleNearest3dKernels.cpp
  yaml/native/native_functions.yaml
Labels: xpu-op

#879 Add aten::_fused_adam_, aten::_fused_adamw_
  src/ATen/native/xpu/FusedAdam.cpp
  src/ATen/native/xpu/FusedAdamW.cpp
  src/ATen/native/xpu/sycl/FusedAdamAmsgradKernels.cpp
  src/ATen/native/xpu/sycl/FusedAdamKernels.cpp
  src/ATen/native/xpu/sycl/FusedAdamKernels.h
  src/ATen/native/xpu/sycl/FusedAdamUtils.h
  src/ATen/native/xpu/sycl/FusedAdamWAmsgradKernels.cpp
  src/ATen/native/xpu/sycl/FusedAdamWKernels.cpp
  src/ATen/native/xpu/sycl/FusedAdamWKernels.h
  test/xpu/skip_list_common.py
  test/xpu/test_optim_xpu.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1040 Add aten::_standard_gamma
  src/ATen/native/xpu/Distributions.cpp
  src/ATen/native/xpu/sycl/Distributions.cpp
  src/ATen/native/xpu/sycl/Distributions.h
  yaml/native/native_functions.yaml
Labels: xpu-op

#880 Add aten::fractional_max_pool2d, fractional_max_pool3d (forward and backward)
  src/ATen/native/xpu/FractionalMaxPool2d.cpp
  src/ATen/native/xpu/FractionalMaxPool3d.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/FractionalMaxPool2dKernels.cpp
  src/ATen/native/xpu/sycl/FractionalMaxPool2dKernels.h
  src/ATen/native/xpu/sycl/FractionalMaxPool3dKernels.cpp
  src/ATen/native/xpu/sycl/FractionalMaxPool3dKernels.h
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
  yaml/xpu_functions.yaml
Labels: xpu-op

#1041 Add aten::mvlgamma
  yaml/native/native_functions.yaml
Labels: xpu-op

#892 Add aten::_native_multi_head_attention relevant operators
  .github/scripts/apply_torch_pr.py
  src/ATen/CMakeLists.txt
  src/ATen/native/transformers/Attention.cpp
  src/ATen/native/transformers/SDPUtils.cpp
  src/ATen/native/transformers/SDPUtils.h
  src/ATen/native/transformers/sycl/AttentionKernels.cpp
  src/ATen/native/transformers/sycl/AttentionKernels.h
  src/ATen/native/xpu/sycl/Distributions.cpp
  src/ATen/native/xpu/sycl/SummaryOpsKernels.cpp
  test/xpu/extended/skip_list_common.py
  test/xpu/skip_list_common.py
  test/xpu/test_native_mha_xpu.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#921 Add basic quantized operators
  src/ATen/CMakeLists.txt
  src/ATen/native/quantized/AffineQuantizer.cpp
  src/ATen/native/quantized/FakeQuantizeCore.cpp
  src/ATen/native/quantized/FusedObsFakeQuant.cpp
  src/ATen/native/quantized/MakePerTensorQuantizedTensor.cpp
  src/ATen/native/quantized/sycl/AffineQuantizerKernels.cpp
  src/ATen/native/quantized/sycl/AffineQuantizerKernels.h
  src/ATen/native/quantized/sycl/FakeQuantizeCoreKernels.cpp
  src/ATen/native/quantized/sycl/FakeQuantizeCoreKernels.h
  src/ATen/native/quantized/sycl/FusedObsFakeQuantKernels.cpp
  src/ATen/native/quantized/sycl/FusedObsFakeQuantKernels.h
  src/ATen/native/quantized/sycl/MakePerTensorQuantizedTensorKernels.cpp
  src/ATen/native/quantized/sycl/MakePerTensorQuantizedTensorKernels.h
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/RecordStream.cpp
  test/xpu/quantization/core/__init__.py
  test/xpu/quantization/core/test_quantized_tensor_xpu.py
  test/xpu/quantization/core/test_workflow_module_xpu.py
  test/xpu/quantization/core/test_workflow_ops_xpu.py
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1060 Add aten::rrelu_with_noise and its variants
  src/ATen/native/xpu/RreluWithNoise.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/GroupNormKernels.cpp
  src/ATen/native/xpu/sycl/RreluWithNoiseKernels.cpp
  src/ATen/native/xpu/sycl/RreluWithNoiseKernels.h
  test/xpu/extended/skip_list_common.py
  test/xpu/skip_list_common.py
  test/xpu/test_nn_xpu.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1058 Add tests for aten::record_stream
  src/ATen/native/xpu/RecordStream.cpp
  test/regressions/test_record_stream.py
Labels: ut_enhance

#1063 Add aten::lerp_
  yaml/native/native_functions.yaml
Labels: xpu-op

#1065 Add _foreach_add.{ScalarList/Tensor}
  src/ATen/native/xpu/ForeachOpScalarTensor.cpp
  src/ATen/native/xpu/sycl/ForeachBinaryOpScalarTensorKernels.cpp
  src/ATen/native/xpu/sycl/ForeachBinaryOpScalarTensorKernels.h
  src/ATen/native/xpu/sycl/ForeachFunctors.h
  yaml/native/native_functions.yaml
Labels: xpu-op

#931 Add aten::cummax, aten::cummin and aten::logcumsumexp
  src/ATen/native/xpu/ReduceOps.cpp
  src/ATen/native/xpu/ScanKernels.cpp
  src/ATen/native/xpu/ScanKernels.h
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/CumminmaxKernel.cpp
  src/ATen/native/xpu/sycl/CumprodKernel.cpp
  src/ATen/native/xpu/sycl/CumprodKernel.h
  src/ATen/native/xpu/sycl/CumsumKernel.cpp
  src/ATen/native/xpu/sycl/CumsumKernel.h
  src/ATen/native/xpu/sycl/LogcumsumexpKernel.cpp
  src/ATen/native/xpu/sycl/ScanKernels.h
  src/ATen/native/xpu/sycl/ScanUtils.h
  test/xpu/extended/skip_list_common.py
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#902 Add aten::segment_reduce, aten::_segment_reduce_backward
  src/ATen/native/xpu/SegmentReduce.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/SegmentReduceKernels.cpp
  src/ATen/native/xpu/sycl/SegmentReduceKernels.h
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
  yaml/xpu_functions.yaml
Labels: xpu-op

#1076 Add aten::sinc and aten::frexp
  src/ATen/native/xpu/UnaryOps.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/UnaryKernels.cpp
  src/ATen/native/xpu/sycl/UnaryKernels.h
  src/ATen/native/xpu/sycl/UnarySpecialOpsKernels.cpp
  src/ATen/native/xpu/sycl/UnarySpecialOpsKernels.h
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op, high_priority

#1075 Add aten::_fused_sgd_
  src/ATen/native/xpu/FusedSgd.cpp
  src/ATen/native/xpu/sycl/FusedSgdKernels.cpp
  src/ATen/native/xpu/sycl/FusedSgdKernels.h
  test/xpu/skip_list_common.py
  test/xpu/test_optim_xpu.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1073 Add aten::addcdiv.Tensor and aten::addcmul.Tensor
  src/ATen/native/xpu/ForeachOpList.cpp
  yaml/native/native_functions.yaml
Labels: xpu-op

#1067 Enable `cow_input_*` test cases
  src/ATen/native/xpu/sycl/AdaptiveAveragePooling2dKernels.cpp
  src/ATen/native/xpu/sycl/AveragePool2dKernels.cpp
  src/ATen/native/xpu/sycl/BucketizationKernels.cpp
  src/ATen/native/xpu/sycl/Col2ImKernel.cpp
  src/ATen/native/xpu/sycl/CumprodKernel.cpp
  src/ATen/native/xpu/sycl/CumsumKernel.cpp
  src/ATen/native/xpu/sycl/DilatedMaxPool2d.cpp
  src/ATen/native/xpu/sycl/DistanceKernels.cpp
  src/ATen/native/xpu/sycl/DistributionTemplates.h
  src/ATen/native/xpu/sycl/Dropout.cpp
  src/ATen/native/xpu/sycl/Embedding.cpp
  src/ATen/native/xpu/sycl/EmbeddingBackwardKernel.h
  src/ATen/native/xpu/sycl/EmbeddingBag.cpp
  src/ATen/native/xpu/sycl/EmbeddingBag.h
  src/ATen/native/xpu/sycl/GridSampler.cpp
  src/ATen/native/xpu/sycl/Im2ColKernel.cpp
  src/ATen/native/xpu/sycl/Indexing.cpp
  src/ATen/native/xpu/sycl/Indexing.h
  src/ATen/native/xpu/sycl/LayerNormKernels.cpp
  src/ATen/native/xpu/sycl/MaxUnpoolingKernels.cpp
  src/ATen/native/xpu/sycl/MemoryAccess.h
  src/ATen/native/xpu/sycl/NonzeroKernel.cpp
  src/ATen/native/xpu/sycl/Norm.h
  src/ATen/native/xpu/sycl/ReflectionPadKernels.cpp
  src/ATen/native/xpu/sycl/ReplicationPaddingKernels.cpp
  src/ATen/native/xpu/sycl/ScanUtils.h
  src/ATen/native/xpu/sycl/SegmentReduceKernels.cpp
  src/ATen/native/xpu/sycl/Shape.cpp
  src/ATen/native/xpu/sycl/SoftMaxKernels.cpp
  src/ATen/native/xpu/sycl/Sorting.cpp
  src/ATen/native/xpu/sycl/SortingCommon.h
  src/ATen/native/xpu/sycl/SortingRadixSelect.h
  src/ATen/native/xpu/sycl/SummaryOpsKernels.cpp
  src/ATen/native/xpu/sycl/TensorModeKernel.cpp
  src/ATen/native/xpu/sycl/TensorTransformationsKernels.cpp
  src/ATen/native/xpu/sycl/TriangularOpsKernels.cpp
  src/ATen/native/xpu/sycl/UniqueKernels.cpp
  src/ATen/native/xpu/sycl/UpSampleBilinear2dKernels.cpp
  src/ATen/native/xpu/sycl/UpSampleNearest1dKernels.cpp
  src/ATen/native/xpu/sycl/UpSampleNearest2dKernels.cpp
  test/xpu/extended/skip_list_common.py
Labels: ut_enhance, high_priority

#933 batch_normalization: Introduce vectorization optimization in the batch norm elementwise kernel.
  src/ATen/native/xpu/sycl/BatchNormKernels.cpp
Labels: kernel_optimization

#908 Implement Aten::_foreach_norm when ord == inf
  src/ATen/native/xpu/ForeachReduceOp.cpp
  src/ATen/native/xpu/sycl/ForeachReduceKernels.cpp
  src/ATen/native/xpu/sycl/GroupReduceUtils.h
  src/ATen/native/xpu/sycl/MultiTensorApply.h
Labels: kernel_optimization

#1057 [PT2.6][Windows] Fix Windows Codegen
  cmake/Codegen.cmake
Labels: Windows

#1098 Update skip list for sparse related test cases
  test/xpu/skip_list_common.py
Labels: ut_enhance

#1099 Update skip list in `test_torch_xpu`
  test/xpu/skip_list_common.py
Labels: ut_enhance

#1091 Add aten::kthvalue
  src/ATen/native/xpu/Sorting.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/Sorting.cpp
  src/ATen/native/xpu/sycl/Sorting.h
  test/xpu/extended/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1112 Fix the low performance issue in scatter-gather kernels
  src/ATen/native/xpu/sycl/ScatterGatherKernels.cpp
Labels: kernel_optimization

#950 Add upsample_bilinear2d channels last kernel implementation
  src/ATen/native/xpu/sycl/UpSampleBilinear2dKernels.cpp
Labels: kernel_optimization

#1116 Fix the low performance issue in `GroupNorm` kernels
  src/ATen/native/xpu/sycl/ActivationSoftshrinkKernels.cpp
  src/ATen/native/xpu/sycl/GroupNormKernels.cpp
Labels: kernel_optimization

#1097 Add torchvision::roi_align forward/backward
  src/ATen/native/xpu/RoiAlign.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/RoiAlignKernels.cpp
  src/ATen/native/xpu/sycl/RoiAlignKernels.h
  test/regressions/test_roi_align.py
  test/regressions/test_torchvision_roi_align.py
Labels: xpu-op

#1114 Add aten::_foreach_{max, rsqrt, sqrt_, lerp.ScalarList, lerp_.ScalarList}
  src/ATen/native/xpu/ForeachOpScalarList.cpp
  src/ATen/native/xpu/ForeachReduceOp.cpp
  src/ATen/native/xpu/ForeachUnaryOp.cpp
  src/ATen/native/xpu/sycl/ForeachFunctors.h
  src/ATen/native/xpu/sycl/ForeachReduceKernels.cpp
  src/ATen/native/xpu/sycl/ForeachReduceKernels.h
  src/ATen/native/xpu/sycl/ForeachTernaryKernels.cpp
  src/ATen/native/xpu/sycl/ForeachTernaryOpScalarListKernels.h
  src/ATen/native/xpu/sycl/ForeachUnaryKernels.cpp
  src/ATen/native/xpu/sycl/ForeachUnaryKernels.h
  test/xpu/skip_list_common.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1100 Update skip list in `*_ufuncs_xpu`
  test/xpu/skip_list_common.py
Labels: ut_enhance

#1103 Unit test: Evaluate and update skip list of test_meta.
  src/ATen/native/xpu/sycl/UpSampleBilinear2dKernels.cpp
  test/xpu/extended/skip_list_common.py
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
Labels: ut_enhance

#1102 Update skip list in `test_ops_xpu`
  test/xpu/skip_list_common.py
Labels: ut_enhance

#1123 Update the skip list
  test/xpu/skip_list_common.py
Labels: ut_enhance

#1106 Add upsample_aa op series.
  src/ATen/native/xpu/UpSample.h
  src/ATen/native/xpu/UpSampleBicubic2d.cpp
  src/ATen/native/xpu/UpSampleBilinear2d.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/UpSampleBilinear2dKernels.cpp
  src/ATen/native/xpu/sycl/UpSampleBilinear2dKernels.h
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op
