Repository intel/torch-xpu-ops, pull requests merged in 2025-05, with the labels that each got.

#1610 Enhance Performance by Adding `index_t` Template Parameter
  src/ATen/native/xpu/sycl/AveragePool2dKernels.cpp
Labels: kernel_optimization

#1628 Change option set func to make flag happy
  CMakeLists.txt
Labels: windows_ci

#1635 Optimize `layernom_vectorized_impl` by using adaptive wg selection
  src/ATen/native/xpu/sycl/LayerNormKernels.cpp
Labels: kernel_optimization

#1685 Refactor USE_XCCL&USE_C10D_XCCL option
  CMakeLists.txt
Labels: windows_ci

#1708 Fallback fft_r2c
  src/ATen/native/xpu/SpectralOps.cpp
  test/xpu/skip_list_common.py
Labels: mkl

#1660 Enable `_linalg_det`, `_linalg_slogdet` and `_linalg_solve_ex` related operations on xpu
  src/ATen/native/xpu/XPUFallback.template
  test/xpu/skip_list_common.py
  yaml/native/native_functions.yaml
Labels: mkl

#1414 Support CL path for MaxUnpooling2d
  src/ATen/native/xpu/sycl/MaxUnpoolingKernels.cpp
Labels: kernel_optimization

#1420 Add channel last path for max_unpooling3d
  src/ATen/native/xpu/sycl/MaxUnpoolingKernels.cpp
Labels: kernel_optimization

#1652 Group Norm Backward Optimization with vectorization and parallel reduction
  src/ATen/native/xpu/sycl/GroupNormKernels.cpp
  src/ATen/native/xpu/sycl/GroupReduceUtils.h
Labels: kernel_optimization

#1658 Enhanced Adaptive Average Pooling 2D Backward Kernel: Performance Improvements and Code Simplification
  src/ATen/native/xpu/sycl/AdaptiveAveragePooling2dKernels.cpp
Labels: kernel_optimization
