Repository intel/torch-xpu-ops, pull requests merged in 2025-06, with the labels that each got.

#1725 Refine oneMKL Build
  cmake/ONEMKL.cmake
  src/ATen/CMakeLists.txt
  src/ATen/native/xpu/mkl/BatchLinearAlgebra.cpp
  src/ATen/native/xpu/mkl/SpectralOps.cpp
Labels: mkl

#1720 Enhanced fft_r2c overhead and reactivate fft_r2c on XPU
  src/ATen/native/xpu/SpectralOps.cpp
  src/ATen/native/xpu/mkl/SpectralOps.cpp
Labels: mkl

#1735 Refactor Triangular Operation Kernels (triu/tril) for XPU in SYCL
  src/ATen/native/xpu/sycl/TriangularOpsKernels.cpp
  test/regressions/test_tril.py
Labels: kernel_optimization

#1743 [Reland] Install xpu codegen header to torch/include
  cmake/Codegen.cmake
  src/ATen/CMakeLists.txt
  src/ATen/native/sparse/xpu/SparseCsrTensorMath.cpp
  src/ATen/native/xpu/Activation.cpp
  src/ATen/native/xpu/AdaptiveAveragePooling2d.cpp
  src/ATen/native/xpu/AdaptiveAveragePooling3d.cpp
  src/ATen/native/xpu/AdaptiveMaxPooling2d.cpp
  src/ATen/native/xpu/AdaptiveMaxPooling3d.cpp
  src/ATen/native/xpu/AveragePool2d.cpp
  src/ATen/native/xpu/AveragePool3d.cpp
  src/ATen/native/xpu/BinaryOps.cpp
  src/ATen/native/xpu/Col2Im.cpp
  src/ATen/native/xpu/DilatedMaxPool2d.cpp
  src/ATen/native/xpu/DilatedMaxPool3d.cpp
  src/ATen/native/xpu/Dropout.cpp
  src/ATen/native/xpu/Embedding.cpp
  src/ATen/native/xpu/EmbeddingBag.cpp
  src/ATen/native/xpu/Equal.cpp
  src/ATen/native/xpu/ForeachOpScalarList.cpp
  src/ATen/native/xpu/ForeachReduceOp.cpp
  src/ATen/native/xpu/FractionalMaxPool2d.cpp
  src/ATen/native/xpu/FractionalMaxPool3d.cpp
  src/ATen/native/xpu/Im2Col.cpp
  src/ATen/native/xpu/Indexing.cpp
  src/ATen/native/xpu/LossMultiMargin.cpp
  src/ATen/native/xpu/LossNLL.cpp
  src/ATen/native/xpu/PinnedMemoryAllocator.cpp
  src/ATen/native/xpu/RangeFactories.cpp
  src/ATen/native/xpu/ReflectionPad.cpp
  src/ATen/native/xpu/ReplicationPadding.cpp
  src/ATen/native/xpu/Resize.cpp
  src/ATen/native/xpu/SoftMax.cpp
  src/ATen/native/xpu/SummaryOps.cpp
  src/ATen/native/xpu/TensorAdvancedIndexing.cpp
  src/ATen/native/xpu/TensorFactories.cpp
  src/ATen/native/xpu/TensorShape.cpp
  src/ATen/native/xpu/TensorTopK.cpp
  src/ATen/native/xpu/TriangluarOps.cpp
  src/ATen/native/xpu/UpSampleBicubic2d.cpp
  src/ATen/native/xpu/UpSampleBilinear2d.cpp
  src/ATen/native/xpu/UpSampleLinear1d.cpp
  src/ATen/native/xpu/UpSampleNearest1d.cpp
  src/ATen/native/xpu/UpSampleNearest2d.cpp
  src/ATen/native/xpu/UpSampleNearest3d.cpp
  src/ATen/native/xpu/UpSampleTrilinear3d.cpp
  src/ATen/native/xpu/XPUScalar.cpp
  test/regressions/test_xpu_ops_header.py
  tools/codegen/install_xpu_headers.py
  tools/codegen/remove_headers.py
Labels: enhancement, os: Windows, windows_ci
