Repository intel/torch-xpu-ops, pull requests merged in 2025-02, with the labels that each got.

#1327 Introduced vectorized batch norm backward kernels
  src/ATen/native/xpu/sycl/BatchNormKernels.cpp
Labels: kernel_optimization

#1317 Introduce vectorized parallel welford batchnorm for channels last path
  src/ATen/native/xpu/sycl/BatchNormKernels.cpp
  src/ATen/native/xpu/sycl/WelfordNorm.h
Labels: kernel_optimization

#1355 Enhance `batch_norm` performance by fine-tuning kernel parameters
  src/ATen/native/xpu/sycl/BatchNormKernels.cpp
  src/ATen/native/xpu/sycl/WelfordNorm.h
Labels: kernel_optimization

#1357 Apply adaptive kernel config for vectorized `group_norm` forward kernels
  src/ATen/native/xpu/sycl/GroupNormKernels.cpp
Labels: kernel_optimization

#1243 Building System: Only build one shared library for the user
  src/BuildOnLinux.cmake
  src/BuildOnWindows.cmake
  src/CMakeLists.txt
Labels: windows_ci

#1365 change dtypesIfXPU to dtypesIf['xpu'] to align with stock pytorch cha…
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
Labels: high_priority

#1367 Building: Aligning AOT default targets with the motivation for develo…
  cmake/BuildFlags.cmake
Labels: windows_ci

#1313 Add aten::_to_sparse_csc() and aten::_to_sparse_csr
  .github/scripts/apply_torch_pr.py
  cmake/Codegen.cmake
  src/ATen/native/sparse/xpu/SparseCsrTensorMath.cpp
  src/ATen/native/sparse/xpu/sycl/SparseCsrTensorMathKernels.cpp
  src/ATen/native/sparse/xpu/sycl/SparseCsrTensorMathKernels.h
  src/ATen/native/xpu/XPUFallback.template
  test/xpu/test_sparse_xpu.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1154 Add aten::sparse::softmax and log_softmax relative ops
  src/ATen/native/sparse/xpu/SparseSoftmax.cpp
  src/ATen/native/sparse/xpu/SparseTensorMath.cpp
  src/ATen/native/sparse/xpu/sycl/SparseSoftmaxKernels.cpp
  src/ATen/native/sparse/xpu/sycl/SparseSoftmaxKernels.h
  src/ATen/native/sparse/xpu/sycl/SparseTensorMathKernels.cpp
  src/ATen/native/sparse/xpu/sycl/SparseTensorMathKernels.h
  src/ATen/native/xpu/sycl/pstl/PSTLFunctions.h
  src/comm/Memory.h
  test/xpu/skip_list_common.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1330 Enable basic SparseCsr ops for XPU
  src/ATen/native/sparse/SparseCsrTensor.cpp
  src/ATen/native/sparse/xpu/SparseCsrTensorMath.cpp
  src/ATen/native/sparse/xpu/sycl/SparseCsrTensorMathKernels.cpp
  src/ATen/native/sparse/xpu/sycl/SparseCsrTensorMathKernels.h
  test/xpu/skip_list_common.py
  test/xpu/test_sparse_xpu.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1362 Add DeformConv2d kernel
  src/ATen/native/xpu/DeformConv2d.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/DeformConv2dKernels.cpp
  src/ATen/native/xpu/sycl/DeformConv2dKernels.h
  test/regressions/test_deform_conv.py
Labels: xpu-op

#1340 Add utility for printing formatted strings within SYCL kernel
  src/comm/SYCLHelpers.h
Labels: windows_ci

#1388 Change AOT_TARGETS list
  .github/workflows/_linux_build.yml
  cmake/BuildFlags.cmake
Labels: windows_ci

#1396 Optimize Maxpooling forward/backward: Use a more appropriate workgroup size and use registers to optimize performance
  src/ATen/native/xpu/sycl/DilatedMaxPool3d.cpp
Labels: kernel_optimization
