Repository intel/torch-xpu-ops, pull requests merged in 2025-01, with the labels that each got.

#1143 Add `__rmod__` to `xpu_test_utils.py` to use right dtypes for xpu
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
Labels: ut_enhance

#1089 Add aten::split_with_sizes_copy and _chunk_cat relative ops
  src/ATen/native/xpu/TensorShape.cpp
  src/ATen/native/xpu/sycl/TensorShapeKernels.cpp
  src/ATen/native/xpu/sycl/TensorShapeKernels.h
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1028 Add Windows CI
  .github/scripts/install_xpu.bat
  .github/workflows/_windows_ut.yml
  .github/workflows/pull.yml
Labels: high_priority, windows_ci

#1105 Add distributed backend (XCCL)
  CMakeLists.txt
  cmake/Modules/FindXCCL.cmake
  cmake/XCCL.cmake
  src/BuildOnLinux.cmake
  src/CMakeLists.txt
  src/xccl/CMakeLists.txt
  src/xccl/ProcessGroupXCCL.cpp
  src/xccl/ProcessGroupXCCL.hpp
  src/xccl/Register.cpp
Labels: high_priority, module: distributions

#1249 [CI] Update windows CI label set
  .github/workflows/pull.yml
Labels: windows_ci

#1167 Add aten::index_select_sparse_xpu op
  src/ATen/native/xpu/Indexing.cpp
  src/ATen/native/xpu/sycl/Indexing.cpp
  src/ATen/native/xpu/sycl/IndexingKernels.h
  test/xpu/skip_list_common.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1266 Add trivial aten ops including `std.correction_out` and `floor_sparse_`
  yaml/native/native_functions.yaml
Labels: xpu-op

#1156 Add aten::index_reduce operator
  .github/scripts/apply_torch_pr.py
  src/ATen/native/xpu/TensorAdvancedIndexing.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/sycl/Atomics.h
  src/ATen/native/xpu/sycl/Indexing.cpp
  src/ATen/native/xpu/sycl/IndexingKernels.h
  src/comm/DeviceProperties.h
  src/comm/TensorInfo.h
  test/xpu/extended/skip_list_common.py
  test/xpu/skip_list_common.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1142 Add NestedTensorXPU dispatch for device-agnostic NestedTensor Ops
  yaml/native/native_functions.yaml
Labels: xpu-op

#1045 Add basic nested tensor operators
  src/ATen/CMakeLists.txt
  src/ATen/native/nested/xpu/NestedTensorTransformerFunctions.cpp
  src/ATen/native/nested/xpu/sycl/NestedTensorTransformerFunctionKernels.cpp
  src/ATen/native/nested/xpu/sycl/NestedTensorTransformerFunctionKernels.h
  test/xpu/skip_list_common.py
  yaml/native/native_functions.yaml
Labels: xpu-op

#1287 Fix keyword restrict to fix Windows Build
  src/ATen/native/xpu/sycl/Indexing.cpp
Labels: windows_ci

#1308 Support compatibility with lower version compilers
  .github/workflows/_windows_ut.yml
  cmake/SYCL.cmake
  src/BuildOnLinux.cmake
  src/BuildOnWindows.cmake
Labels: windows_ci

#526 Setup MKL computation backend for Pytorch XPU operators (Linear Algebra) and enable aten::fft_c2c
  .github/scripts/env.sh
  CMakeLists.txt
  cmake/Modules/FindONEMKL.cmake
  cmake/ONEMKL.cmake
  src/ATen/CMakeLists.txt
  src/ATen/native/xpu/SpectralOps.cpp
  src/ATen/native/xpu/XPUFallback.template
  src/ATen/native/xpu/mkl/SpectralOps.cpp
  src/ATen/native/xpu/mkl/SpectralOps.h
  src/BuildOnLinux.cmake
  src/BuildOnWindows.cmake
  src/CMakeLists.txt
  test/xpu/skip_list_common.py
  test/xpu/test_spectral_ops_xpu.py
  test/xpu/xpu_test_utils.py
  yaml/native/native_functions.yaml
Labels: windows_ci
